<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootdemo.mapper.StudentMapper">

    <select id="findAll"
            resultType="com.example.springbootdemo.entity.Student">

        SELECT
        id,
        student_no,
        name,
        age,
        gender
        FROM student

    </select>


    <select id="findById"
            parameterType="long"
            resultType="Student">

        SELECT
        id,
        student_no,
        name,
        age,
        gender
        FROM student
        WHERE id = #{id}

    </select>
    <insert id="insert"
            parameterType="Student"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO student
        (
        student_no,
        name,
        age,
        gender
        )
        VALUES
        (
        #{studentNo},
        #{name},
        #{age},
        #{gender}
        )

    </insert>
    <delete id="deleteById">
        DELETE FROM student
        WHERE id = #{id}
    </delete>
    <update id="update">
        UPDATE student
        SET
        name = #{name},
        age = #{age},
        gender = #{gender}
        WHERE id = #{id}
    </update>
</mapper>